.md-toolbar.md-transparent.md-theme-default.md-elevation-0{
  background: #3c8dbc !important;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.sidebar .logo {
  background-color: #367fa9;
  padding: 14px 0px !important;
  border: none;
  box-shadow: none;
}
.md-toolbar-section-start h5{
  font-size: 14px;
  color: #ffff;
  font-weight: 100;
  margin: 0;
}
.md-toolbar.md-transparent.md-theme-default.md-elevation-0 i.material-icons{
  color: #fff !important;
}
.md-toolbar.md-transparent.md-theme-default.md-elevation-0 i.material-icons:hover{
  color: #e6e6e6 !important;
}
.md-toolbar.md-transparent.md-theme-default.md-elevation-0  ul.dropdown-menu.dropdown-menu-right{
  margin-top: 10px;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0px !important;
}
.md-toolbar.md-transparent.md-theme-default.md-elevation-0  ul.dropdown-menu.dropdown-menu-right a:hover{
  background: #f1f1f1!important;
  box-shadow: none;
  color: #000 !important;
  border-radius: 0px !important;
}
.md-toolbar.md-transparent.md-theme-default.md-elevation-0  ul.dropdown-menu.dropdown-menu-right a{
  margin: 0px;
}
.sidebar{
  background-image: none !important;
  background: #222d32 !important;
}
.sidebar-wrapper li.md-list-item{
  margin: 0px
}
a.md-list-item-router.md-list-item-container.md-button-clean.nav-item.active.router-link-active, .sidebar .md-list .md-list-item a:hover{
    border-radius: 0px;
    border-left-color: #3c8dbc;
    color: #fff !important;
    background: #1e282c !important;
    box-shadow: none !important;
    border-left: 3px solid #3c8dbc !important;
    margin: 0px !important
}
.sidebar .md-list .md-list-item a{
  margin:0px;
  border-left: 3px solid #1d2021 !important;
}
.sidebar .nav li:first-child > a{
  margin: 0px !important
}
.sidebar .nav p, .sidebar .md-icon.md-theme-default.md-icon-font{
  color: #b8c7ce !important;
}
a.md-list-item-router.md-list-item-container.md-button-clean.nav-item.active.router-link-active p{
  color: #fff !important;
}
.sidebar .md-list .md-list-item a:hover p, .sidebar .md-list .md-list-item a:hover .md-icon.md-theme-default.md-icon-font{
  color: #fff !important;
}
.user-panel{
  white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 15px 10px;
    z-index: 9;
    background: #222d32;
    margin-bottom: 5px;
}
.user-panel .pull-left.image{
  float: left!important;
}
.user-panel .pull-left.image img{
  width: 100%;
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}
.user-panel .pull-left.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
  color: #fff;
} 
.user-panel .pull-left.info p {
  font-weight: 600;
  margin-bottom: 9px;
}
.user-panel .pull-left.info a{
  color: #fff;
  font-size: 12px;
}
.user-panel .pull-left.info a i{
  font-size: 11px;
    margin-right: 5px;
}
ul.md-list.nav.md-theme-default{
  margin-top: 0px;
}
.card{
  padding: 30px;
}
.main-panel{
  background: #e4e5e6;
}
.main-panel .md-card-header .title{
  font-size: 24px;
  font-weight: 400;
}
.main-panel .md-table-head-label{
  font-weight: 600;
  color: #000;
  font-size: 14px;
}
footer.footer{
  padding: 15px 30px;
  text-align: right;
  color: #23282c;
  background: #f0f3f5;
  border-top: 1px solid #c8ced3;
}
footer.footer p{
  margin-bottom: 0px;
}
footer.footer a{
  color: #20a8d8 !important
}
span.md-dialog-title.md-title{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.md-dialog-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.md-content.md-theme-default{
  position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    padding-bottom: 0px;
}
span.md-dialog-title.md-title{
  width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 0px;
}
.md-content.md-theme-default input{
  padding: 10px;
    height: 45px;
  margin-bottom: 15px;
}
.md-content.md-theme-default .custom-file.b-form-file, .md-content.md-theme-default select{
  margin-bottom: 15px;
}
.md-content.md-theme-default input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.modal-dialog.modal-md input, .modal-dialog.modal-md select{
  margin-bottom: 15px;
}
.modal-dialog.modal-md .custom-file.b-form-file{
  margin-bottom: 15px;
}
.md-card .md-card-content{
  padding: 0px !important;
}
.md-content.md-table.md-theme-default{
  padding: 0px !important;
}
.md-content.md-table-content.md-scrollbar.md-theme-default{
  padding: 15px !important;
}
.infor-dialog.maps .md-button.md-theme-default{
  margin: 0px 2px;
  width: auto;
  display: inline-block;
}
.infor-dialog.maps .md-button.md-theme-default .md-ripple{
  padding: 10px !important;
    width: auto;
    display: inline-block;
}
.infor-dialog.maps .md-button.md-theme-default:hover{
  box-shadow: none
}